@charset "UTF-8";
body { 
	margin: 0; 
	padding: 0; 	
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	background: grey;
}
.light{
	color: #373737;
	background: white;
}
.dark{
	color: white;
	background: grey;
}
.italic{
	font-style: italic;
}

h2{
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	text-align: center;
}
h3{
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	text-align: center;
	font-size: 15px;
	font-style: italic;
}