@charset "UTF-8";
body { 
	margin: 0; 
	padding: 0; 	
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	background: white;
}
.light{
	color: #373737;
	background: white;
}
.dark{
	color: white;
	background: grey;
}
.title{
	font-size: 30px;
	
}
#keyterms{
	position: relative;
	width: 500px;
	border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#logo{
	position: relative;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.italic{
	font-style: italic;
}
.center{
	margin: auto;
    padding: 5px;
}
.button{
	outline: none;
	border: none;
	background-color: Transparent;
	float:right;
}
h2{
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	text-align: center;
}
h3{
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	text-align: center;
	font-size: 15px;
	font-style: italic;
}

.role-button a {
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.role-button a:hover {
    background-color: #CCCCCC; /* Dark grey background on mouse-over */
}
